form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 5px;
  width: 100px;
}

#btnSubmit {
  margin-top: 10px;
  width: 100px;
}
